/* MAIN INDEX*/
main {
    width: 100%;
    height: auto;
    background-color: var(--second-color);
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    display: flex;
    font-family: var(--font-use);
    font-size: 1.1rem;
    color: var(--text-color);
    margin: 10px 0 30px 0;
    text-align: center;
}


.main_text {
    margin: 5px 0 5px 0;
}

.titre_card {
    font-family: var(--font-use);
    font-size: 1.8rem;
    color: var(--text-color);
    border-bottom: solid 2px var(--accent-color);
    margin: 10px 0 10px 0;
}

.card_index {
    width: 800px;
    height: 250px;
    background-image: url(../resources/3Plan\ de\ travail\ 1.png);
    border-radius: 8px;
    margin: 10px 0 10px 0;
}

.card_index:hover {
    opacity: 30%;
}

.reseaux_text {
    margin: 0 50px 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.img_propos {
    width: 200px;
    border-radius: 8px;
}

.img_propos:hover {
    opacity: 30%;
}

#ancre_contact{
    scroll-behavior: smooth;
}
@media screen and (max-width: 500px) {

    /* main {
    } */

    .intro {
        flex-direction: column;
        font-size: 0.8rem;
        padding: 15px;
    }

    .titre_card {
        font-size: 1.5rem;
    }

    .card_index {
        width: 250px;
    }

    .reseaux_text {
        margin: 15px 0 0 0;
    }
}


@media screen and (max-width: 810px) {
    .card_index {
        width: 250px;
    }

    .intro {
        flex-direction: column;
        padding: 15px;
    }

    .reseaux_text {
        margin: 15px 0 0 0;
    }
}

/* MAIN INDEX*/